<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>Title</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var cart = [];
        var prices = [];
        var user = "";
        var userBalance;


        function addAlbum(albumId, price) {
            cart.push(albumId);
            prices.push(price);
        }

        function loadTable() {
            var users = /*[[${users}]]*/ [];
            var transactions = /*[[${transactions}]]*/ [];

            console.log(users, transactions)
        }

        function addUser() {
            var users = /*[[${users}]]*/ [];
            var transactions = /*[[${transactions}]]*/ [];
            var selectedUserId = parseInt(document.getElementById('user').value);
            var userTransactions = transactions.filter(function (t) {
                return t.userId === selectedUserId
            });
            var userSpent = 0;
            userTransactions.forEach(function (t) {
                userSpent += t.price;
            });
            console.log(userTransactions, userSpent);
            var selectedUser = users.find(function (user) {
                return user.id === selectedUserId
            });
            if (selectedUser) {
                console.log('found');
                userBalance = selectedUser.balance;
                console.log(selectedUser.balance);
                document.getElementById("userBalance").value = selectedUser.balance - userSpent;
            }
            user = parseInt(document.getElementById('user').value);
            console.log(user)
            // document.getElementById("userBalance").value = document.getElementById('balance').value;
            // console.log(document.getElementById('balance').value)
        }

        function purchase() {
            var totalPrice = 0;
            prices.forEach(function (price) {
                totalPrice += parseFloat(price);
            });
            if (totalPrice > 50) {
                totalPrice = totalPrice * .9
            }
            var xhr = new XMLHttpRequest();
            xhr.open("POST", 'http://localhost:8080/purchase');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                albums: cart,
                priceEach: [totalPrice / (cart.length)],
                newUserBalance: [userBalance - totalPrice],
                user: [user]
            }));
        }

        /*]]>*/
    </script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/album">Album Library</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transaction">purchased albums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/song">Songs available</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin page</a>
        </li>

    </ul>
</nav>
<button onclick="loadTable()"></button>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <select id="user" onclick="addUser()">
                <option value=""> Select A User</option>
                <option th:each="user: ${users}" th:text="${user.username}"
                        th:value="${user.id}">
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                <tr th:each="album : ${albums}">
                    <td th:text="${album.albumname}">
                    <td></td>
                    <td th:text="${album.genre}">
                    <td th:text="${album.price}">
                    <td th:text="${album.year}">
                    </td>
                    <ul>
                        <div th:each="song : ${album.songs}">
                            <li th:inline="text"><b>[[${song.songname}]]</b>
                            </li>
                        </div>
                    </ul>
                    <button th:attr="onclick=|addAlbum('${album.id}', '${album.price}')|">Add Album</button>
                </tr>
                </thead>
            </table>

            <button th:attr="onclick=|purchase()|">Purchase</button>
        </div>
        <div class="col-6">
            <h1>Balance</h1>
            <br>
            <input disabled id="userBalance" value="">
        </div>
    </div>
</div>


<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>